Click==7.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
flask_login
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
SQLAlchemy==1.3.22
Werkzeug==1.0.1
psycopg2
psycopg2-binary
faster_whisper
groq
# openai-whisper
# setuptools-rust
# ffmpeg
# ffmpeg-python
# imageio[ffmpeg]
# accelerate
pytorch-lightning==2.2.1
lightning==2.4.0
torch==2.2.0
transformers==4.42.4
torchmetrics==0.11.0
hf_xet