/* Custom Container Styles */
.container {
    max-width: 90vw;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

@media (min-width: 1280px) {
  .container {
    max-width: 80vw;
  }
}

/* Audio Control Customization */
audio::-webkit-media-controls-panel {
    background-color: white;
}

/* Custom Animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

/* Additional Custom Utilities */
.min-h-screen {
    min-height: 90vh;
}

/* Responsive Text Sizes */
@media (min-width: 640px) {
    .sm\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .sm\:text-7xl {
        font-size: 4.5rem;
        line-height: 1;
    }
}